<div *ngIf="currentUser$ | async as currentUser; else loading">
  <div>
    <h2>{{currentStockHeading}}</h2>
  </div>
  <div *ngIf="currentStock$ | async as currentStock" class="pl-4 pr-4">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Type</th>
        <th>Count</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stock of currentStock">
        <td>{{stock.name}}</td>
        <td>{{stock.count}}</td>
        <td>
          <button mat-raised-button>Edit</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <ng-template #noStockYet>
    <div>
      {{noStockMessage}}
    </div>
  </ng-template>

  <div>
    <mat-card>
      <mat-card-title>
        {{addFormHeading}}
      </mat-card-title>

      <mat-card-content>
        <form (ngSubmit)="createStock()"
              #createStockForm="ngForm">
          <div>
            <label for="count">{{stockTypeMessage}}:</label>
            <mat-form-field>
              <input matInput type="text" id="count" name="count" placeholder="(#)"
                     required
                     [(ngModel)]="newStock.count"/>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Type"
                          [(ngModel)]="newStock.name" name="name">
                <mat-option *ngFor="let validStockType of stockTypes$ | async"
                            [value]="validStockType.name">
                  {{validStockType.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <button mat-raised-button type="submit"
                  [disabled]="!createStockForm.form.valid">{{addButtonMessage}}
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #loading class="alert alert-info">Loading... Please Wait</ng-template>
